h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
    font-family: 'Avenir', Helvetica, Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {

}

body {
    background-color: #F2F1F2;
}


header .site-title a > span{
    font-family: Optima-ExtraBlack !important;
}

.badge-outlined {
    background-color: transparent !important;
}

.radius-50 {
    border-radius: 30px;
}

.article:hover {
    box-shadow: 3px 3px 30px 2px #ccc;
}

.article img {
    /*width: 220px;*/
    /*height: 340px;*/
}