body {
    background-color: #ddf;
}

nav.site-header {
    background-color: #4A90E2 !important;
    font-family: Roboto;
}

nav.site-header .tab {
    margin-top: 5px;
    height: 30px;
}

nav.site-header .tab:hover {
    border-bottom-color: #1d2124;
    border-bottom-style: solid;
}
nav.site-header .tab a:hover{
    text-decoration:none;
}

.content .add-task input {
    height: 40px;
    line-height: 50px;
}
